#input {
    top: 20px;
    padding: 10px 20px 10px 40px;
    background-color: #febc11;
    margin: 0 auto;
    width: 430px;
    position: absolute;
    right: 392px;
    height: 119px;
    border: 1px solid gray;
}
img.owl {
    opacity: 0.3;
	width:100%;
}
#mapping
{
   position: absolute;
   top: 311px;
   right: 550px;
   height: 209px;
   width: 325px;
   background-color: blue;   
}
body
{
   background-color: white;
   /*background-image: url('ksu-logo.png');*/
}
#weather
{
     width: 600px;
     top: 0px;
     right: 100px;  
}
#results
{
      background-color: white;
}

#map {
    width: 50%;
    /*height: 400px;*/
	height:560px;	
    float: left;
	border: solid 1px black;
}
#weatherdata {
    width: 45%;
    height: 400px;
    float: left;
    padding-left: 20px;
}
