<html>
	<head>
		<title>Request Example</title>
	</head>
	<body>
		<form method="POST" action="/temperature">
			Zip Code : <input type="text" name="zip">
			<input type="submit">
		</form>
		<p>OR: </p>
		<form method="POST" action="/bycity">
			City Name : <input type="text" name="city_name">
			<input type="submit">
		</form>
		<!--<p>OR: </p>
		<form method="POST" action="/page2">
			City Name census : <input type="text" name="census">
			<input type="submit">
		</form>-->

	</body>
</html>
